.menu-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 50;

    font-family: var(--font-family);
}

.menu-buttons {
    display: flex;
    gap: 0.5rem;
}
  
.menu-btn {
    padding: 0.85rem 1rem ;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
  
.student-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
}
  
.student-btn:hover {
    background-color: var(--color-primary-light);
    opacity: 0.8;
}
  
.admin-btn {
    background-color: var(--color-text-main);
    color: var(--color-white);
}
  
.admin-btn:hover {
    background-color: var(--color-text-soft);
    opacity: 0.8;
}
  