.profile-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .profile-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #d67b4b;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    padding: 10px;
    width: 140px;
    display: flex;
    flex-direction: column;
    z-index: 99;
  }
  
  .profile-dropdown a,
  .profile-dropdown button {
    padding: 8px 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
  }
  
  .profile-dropdown button.logout-btn, .profile-dropdown .settings-btn{
    color: #d44;
    font-size: 0.95rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .profile-dropdown button:hover,
  .profile-dropdown a:hover {
    background: #fff3e6;
    border-radius: 6px;
  }
  